html{
  font-family: ChantelliAntiqua, cursive, sans-serif;
}

h1.fontsforweb_fontid_70660 sub{
  font-size:20px;
}


/*Materialize Alert*/
div.card-alert.card{
    font-family: cursive, sans-serif;
    border-radius: 7px;
}

div.card-alert.card button {
    background: none;
    border: none;
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 20px;
    color: #fff;
}
